version: "3.7"
services:
  phpfpm:
    extra_hosts:
      - host.docker.internal:host-gateway
    # user: root
    build: ./docker/configs/phpfpm
    restart: always
    container_name: "php81_${APP_NAME}"
    image: wm-phpfpm:8.2.15-fpm
    ports:
      - ${DOCKER_PHP_PORT}:9000
      - ${DOCKER_SERVE_PORT}:8000
    volumes:
      - ".:/var/www/html/${DOCKER_PROJECT_DIR_NAME}"
    working_dir: '/var/www/html/${DOCKER_PROJECT_DIR_NAME}'
  db:
    image: postgis/postgis:17-3.5-alpine
    container_name: "postgres_${APP_NAME}"
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:?err}
      POSTGRES_USER_PASSWORD: ${DB_PASSWORD:?err}
      POSTGRES_USER: ${DB_USERNAME:?err}
      POSTGRES_DB: ${DB_DATABASE:?err}
    volumes:
      - "./docker/volumes/postgresql/data:/var/lib/postgresql/data"
    ports: 
      - ${DOCKER_PSQL_PORT}:5432
  redis:
    image: redis:latest
    container_name: "redis_${APP_NAME}"
    restart: always
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.1
    container_name: "elasticsearch_${APP_NAME}"
    restart: always
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1

  # needed for aws s3 storage testing
  minio:
    image: "minio/minio:latest"
    container_name: "minio_${APP_NAME}"
    ports:
      - "${FORWARD_MINIO_PORT:-9000}:9000"
      - "${FORWARD_MINIO_CONSOLE_PORT:-8900}:8900"
    environment:
      MINIO_ROOT_USER: laravel
      # at least 8 chars
      MINIO_ROOT_PASSWORD: laravelminio
    volumes:
      - "./docker/volumes/minio/data:/data/minio"
    command: 'minio server /data/minio --console-address ":8900"'
    platform: linux/amd64
    healthcheck:
      test:
        - CMD
        - mc
        - ready
        - local
      retries: 3
      timeout: 5s
  # needed for mails testing
  mailpit:
    container_name: "mailpit_${APP_NAME}"
    image: "axllent/mailpit:latest"
    ports:
      - "${FORWARD_MAILPIT_PORT:-1025}:1025"
      - "${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025"
